
@{
    Layout = null;
}
@model SnakeEyesGame.Models.SnakeEyes;

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/css/site.css" rel="stylesheet" />
    <title>Snake Eyes</title>
</head>
<body>
    <h1>Snake Eyes</h1>
    <p>Keep going but don't get 2 one's</p>
    <p>
        <span class="snakeEye">@Model.Eye1</span>
        <span class="snakeEye">@Model.Eye2</span>
    </p>
    <p>
        Total : @Model.Total
    </p>
   <form asp-controller="Home" asp-action="Play" method="post">
       <input type="submit" value="Play" />
   </form>
</body>
</html>
